@import "./src/web/assets/sass/_common.scss";

.save {
  margin-right: 8px;
}
.m-button {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 24px;
}

.m-button-action {
  margin-right: 10px;
}
