<ul nz-menu nzTheme="dark"  [nzInlineCollapsed]="isCollapsed">
  <li nz-menu-item routerLink="/application/dashboard">
    <i class="m-icon" nz-icon nzType="dashboard" nzTheme="outline"></i><span>Dashboard</span>
  </li>
  <li nz-menu-item routerLink="/application/users">
    <i class="m-icon" nz-icon nzType="user" nzTheme="outline"></i><span>User</span>
  </li>
  <li nz-menu-item routerLink="/application/markets">
    <i class="m-icon" nz-icon nzType="shop" nzTheme="outline"></i><span>Märkte</span>
  </li>
</ul>
