

<ion-content [fullscreen]="true">
<p class="news-title">Neuigkeiten</p>
    <div class="mod-news">
        <div class="m-news-item">
            <span class="m-category">Neu im Sortiment</span>
            <div class="m-details">
                <div class="m-image">
                    <img src="./assets/images/news.jpg" alt="">
                </div>
                <div class="m-description">
                    <p class="m-title">Die neuen Gartenideen</p>
                    <p class="m-description">Das Trendmagazin für schönere Außenbereiche. Jetzt kostenlos erhältlich.</p>
                </div>
            </div>
            <div class="m-news-footer">
                <div class="m-author">
                    <img src="./assets/images/author.jpg">
                    <p class="m-author-details">
                        Boendgen-Baustoffe,
                        Von-Coels-Str. 342
                    </p>
                </div>

                <a href="#" class="m-read-more">
                    Mehr Details
                </a>
            </div>

        </div>
        <div class="m-news-item">
            <span class="m-category">Neu im Sortiment</span>
            <div class="m-details">

                <div class="m-description">
                    <p class="m-title">Die neuen Gartenideen</p>
                    <p class="m-description">Das Trendmagazin für schönere Außenbereiche. Jetzt kostenlos erhältlich.</p>
                </div>
            </div>
            <div class="m-news-footer">
                <div class="m-author">
                    <img src="./assets/images/author.jpg">
                    <p class="m-author-details">
                        Boendgen-Baustoffe,
                        Von-Coels-Str. 342
                    </p>
                </div>

                <a href="#" class="m-read-more">
                    Mehr Details
                </a>
            </div>

        </div>
        <div class="m-news-item">
            <span class="m-category">Neu im Sortiment</span>
            <div class="m-details">
                <div class="m-image">
                    <img src="./assets/images/news.jpg" alt="">
                </div>
                <div class="m-description">
                    <p class="m-title">Die neuen Gartenideen</p>
                    <p class="m-description">Das Trendmagazin für schönere Außenbereiche. Jetzt kostenlos erhältlich.</p>
                </div>
            </div>
            <div class="m-news-footer">
                <div class="m-author">
                    <img src="./assets/images/author.jpg">
                    <p class="m-author-details">
                        Boendgen-Baustoffe,
                        Von-Coels-Str. 342
                    </p>
                </div>

                <a href="#" class="m-read-more">
                    Mehr Details
                </a>
            </div>

        </div>
    </div>
</ion-content>
