// colors
// base colors
$color-base-100: #000;
$color-base-90: #dadada;
$color-base-70: #666;
$color-base-50: #999;
$color-base-30: #ccc;
$color-base-20: #ddd;
$color-base-10: #e9eaec;
$color-base-0: #fff;

// color brand
$color-primary: #adffd1;
$color-secondary: #39646b;
$color-third: #5c7e83;
$color-text: $color-base-70;
$color-error: #e2001a;
$color-placeholder: #ddd;
$color-light-grey: #e5e5e5;
$color-sinbad: #f2f5f6;
